<div class="top-bottom-padding center">
  <div class="container">
    <h2>Merci pour votre réservation <%= @rental.user.last_name %> !</h2>
<hr>
    <ul class="list-unstyled">
      <option><%= @rental.boat.name %></option>
      <option>Catégorie: <%= @rental.boat.category %></option>
      <option>Du <%= @rental.checkindate %> au <%= @rental.checkoutdate %></option>
      <option>Nombre de jour(s) réservé(s): <%= ((@rental.checkoutdate.to_date - @rental.checkindate.to_date).to_i)+1 %></option>
      <option>Total: <%= (((@rental.checkoutdate.to_date - @rental.checkindate.to_date.to_date).to_i)+1) * @rental.boat.price_per_day %>CHF </option>
    </ul>
    <p></p>
<hr>
  <%= link_to 'Retour', boats_path %>
  </div>
</div>
