<div>
  <%= link_to 'Rent my boat', new_boat_path, :class => "btn btn-default" %>
</div>


<h1>Available Boats for rent</h1>

<div class="container_index">
  <div class="cards">
    <div class="row">
      <% @boats.each do |boat| %>
        <div class="card col-sm-4"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category"><%= boat.category %></div>
          <div class="card-body">
          <p><%= boat.price_per_day %> CHF/jour</p>
          </div>
          <div class="card-footer">
            <h2><%= link_to boat.name, boat_path(boat) %></h2>
            <p><i class="far fa-compass">
            </i><%= boat.address %></p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      <% end %>
    </div>
  </div>
</div>

