<div class="background">
  <div class="center">
    <h1>Available Boats for rent</h1>
  </div>

  <div class="container">
      <div class="row">
        <% @boats.each do |boat| %>
          <%= link_to boat_path(boat) do %>
            <div class="card">
          <% end %>
          <div class="col-xs-12 col-sm-4">
            <div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path boat.photo, height: 300, crop: :fill %>')">
              <div class="card-category"><%= boat.category %></div>
              <div class="card-body">
                <p>à partir de <%= boat.price_per_day %> CHF/jour</p>
              </div>
            </div>
          <div class="card-footer">
          <h2><%= link_to boat.name, boat_path(boat) %></h2>
          <p><i class="far fa-compass">
          </i>  <%= boat.address %></p>
          </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>


