
<div class="container">

<% unless @boat.photo_url.nil? %>
  <%= cl_image_tag @boat.photo, height: 400, width: 600, crop: :fill, radius: 20 %>
<% end %>


<h1> <%= @boat.name %> </h1>

<h4>Proposé par <%= @boat.user_id %></h4>

<hr>
<div class="info">
<p><i class="fas fa-ship"></i><%= @boat.category %></p>
<p><i class="fas fa-map-marker-alt"></i>  <%= @boat.address %></p>
<p><i class="fas fa-coins"></i></i>  <%= @boat.price_per_day %> CHF / jour </p>
</div>

<hr>
<h3> Description: </h3>
<div class="desc">
<p><%= @boat.description %></p>
</div>

<div class="center">
<button type="button" cclass="btn btn-primary"><%= link_to "Back to list", boats_path %></button>
</div>
<br>
<br>
</div>

