
<div class="container">
  
<% unless @boat.photo_url.nil? %>
  <%= cl_image_tag @boat.photo, height: 400, width: 600, crop: :fill, radius: 20 %>
<% end %>


<h1> <%= @boat.name %> </h1>

<h4>Proposé par <%= @boat.user_id %></h4>

<h3><%= @boat.category %></h3>
<p><i class="fas fa-map-marker-alt"></i>  <%= @boat.address %></p>
<p><i class="fas fa-coins"></i></i>  <%= @boat.price_per_day %> CHF / jour </p>

<hr>
<h3> Description: </h3>
<p><%= @boat.description %></p>


<button type="button" class="btn btn-light"><%= link_to "Back to list", boats_path %></button>


</div>

