
<div class="container background">

  <div class="center">
    <% unless @boat.photo_url.nil? %>
      <%= cl_image_tag @boat.photo, height: 500, width: 900, crop: :fill %>
    <% end %>

    <h1> <%= @boat.name %> </h1>

    <h4>Proposé par <%= @boat.user.first_name %></h4>
  </div>

  <div class="center btn-padding">
    <%= link_to "Book this boat", new_boat_rental_path(@boat.id), class:'btn btn-primary' %>
  </div>


    <form action="">
      <div class="row">
        <div class="col-xs-6">
          <%= simple_form_for [@boat, @rental] do |f| %>
          <div class="form-group">
            <label for="checkindate">Date de début</label>
              <%= f.input :checkindate, as: :string, placeholder="Début", required: false, input_html: {class: "datepicker"} %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.input :checkoutdate, as: :string, required: false, input_html: {class: "datepicker"}  %>
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </form>
  <hr>
  <div class="info">
    <p><i class="fas fa-ship"></i>  <%= @boat.category %></p>
    <p><i class="fas fa-map-marker-alt"></i>  <%= @boat.address %></p>
    <p><i class="fas fa-coins"></i></i>  <%= @boat.price_per_day %> CHF / jour </p>
  </div>

  <hr>
  <h3> Description: </h3>
  <div class="desc">
    <p><%= @boat.description %></p>
  </div>

  <div class="center btn-padding">
    <%= link_to "Back to list", boats_path, class:'btn btn-primary' %>
  </div>

</div>

