<h1> <%= @boat.name %> </h1>


<h3><%= @boat.name %> | <%= @boat.price_per_day %> CHF / jour</h3>

<p><%= @boat.picture %></p>

<p><%= @boat.description %></p>

<p><%= @boat.address %></p>

<%= link_to "Back to list", boats_path %>
