<h1> <%= @boat.name %> </h1>


<h3><%= @boat.name %> | <%= @boat.price_per_day %> CHF / jour</h3>

<% unless @boat.photo_url.nil? %>
  <%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %>
<% end %>


<p><%= @boat.description %></p>

<p><%= @boat.address %></p>

<%= link_to "Back to list", boats_path %>
