
<div class="container background">

  <div class="center">
    <% unless @boat.photo_url.nil? %>
      <%= cl_image_tag @boat.photo, height: 500, width: 900, crop: :fill %>
    <% end %>

    <h1> <%= @boat.name %> </h1>

    <h4>Contact <%= @boat.user.first_name %> : <%= @boat.user.email %></h4>
  </div>

<!--  <div class="center btn-padding">
    <%= link_to "Book this boat", boats_path, class:'btn btn-primary' %>
  </div> -->

  <hr>
  <div class="info">
    <p><i class="fas fa-ship"></i>  <%= @boat.category %></p>
    <p><i class="fas fa-map-marker-alt"></i>  <%= @boat.address %></p>
    <p><i class="fas fa-coins"></i></i>  <%= @boat.price_per_day %> CHF / jour </p>
  </div>

  <hr>
  <h3> Description: </h3>
  <div class="desc">
    <p><%= @boat.description %></p>
  </div>

  <div class="center btn-padding">
    <%= link_to "Back to list", boats_path, class:'btn btn-primary' %>
  </div>

</div>

